@model Restaurant

<h2>Create</h2>
<form method="post">
    <input asp-for="Name" />
    <select 
            asp-for="Cuisine" 
            asp-items="@Html.GetEnumSelectList<CuisineType>()">
    </select>
    <input type="submit" name="save" value="Save" />
</form>

