@model Restaurant

<h2>Create</h2>
<form method="post">
    <div>
        <input asp-for="Name" /> <br />
        <span style="color: red;" asp-validation-for="Name"></span>
    </div>
    <select 
            asp-for="Cuisine" 
            asp-items="@Html.GetEnumSelectList<CuisineType>()">
    </select>
    <input type="submit" name="save" value="Save" />
</form>

