@model OdeToFood.Models.Restaurant

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<div>
    <p><span>Id:</span>&nbsp;<span>@Model.Id</span></p>
    <p><span>Cuisine:</span>&nbsp;<span>@Model.Cuisine</span></p>
</div>
<a asp-action="Index">Go Home</a>