@model IEnumerable<OdeToFood.Models.Restaurant>
<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        @foreach (var restaurant in Model) 
        {
            <tr>
                <td>@restaurant.Id</td>
                <td><a asp-action="Details" asp-route-id="@restaurant.Id">@restaurant.Name</a></td>
            </tr>
        }
    </table>
</body>
</html>

